$cuzk-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
// $cuzk-font-family: "Segoe UI", "Open Sans", Arial;

$cuzk-min-width: 320px;
$cuzk-max-width: 1200px;

$cuzk-color-primary: #246591;
$cuzk-color-border: #aaa;

$cuzk-fg-focus: black;
$cuzk-bg-focus: #ffd500;
